@import url('https://fonts.googleapis.com/css?family=Exo+2');

body {
  background: #EEE;
}

a {
  text-decoration:none;
}

.wrap {
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content {
  font-family: 'Exo 2', sans-serif;
  text-align:center;
}

#city, #country {
  font-size: 50px;
}

#temp, #type {
  font-size: 30px;
}

#desc {
  font-size: 25px;
}

i {
  font-size:50px;
  margin: 5px;
}

.wi-thermometer {
  font-size:35px;
}
